.stat-item {
  padding: 1rem;
  background: var(--white);
  border-radius: var(--borderRadius);
  border-bottom: 5px solid deepskyblue;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .count {
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: darkblue;
  }

  .title {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    text-align: left;
    margin-top: 0.5rem;
  }

  .icon {
    width: 48px;
    height: 32px;
    background: deepskyblue;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1rem;
      color: darkblue;
    }
  }
}
